.ui-messages-info{
    background-color: aquamarine;
    color: black;
    opacity: 0.1em;
    border: 2px solid chartreuse;
}

.ui-messages-info:hover{
    background: aquamarine;
    border: 2px solid green;
    box-shadow: 0 1px 10px chartreuse !important;
    color: cornflowerblue;
}

.ui-messages-info-icon{
    background: url(/Design/images/verified.png?In-Resources);
    background-position: 0 -48px !important;
    height: 25px !important;
    width: 25px !important;
}

.ui-messages-info-detail{
    text-shadow: none !important;
    font-weight: 100;
}

.ui-messages-info-summary{
    margin-left: 5px !important;
    text-shadow: none;
}

.ui-messages-error{
    background-color: lightpink;
    color: #ff0000;
    opacity: 0.1em;
    border: 2px solid tomato;
}

.ui-messages-error:hover{
    background: white;
    border: 2px solid red;
    box-shadow: 0 1px 10px #ff0000 !important;
    color: #ff0000;
}

.ui-messages-error-icon{
    background: url(/Design/images/messages.png?In-Resources);
    margin: 3px;
    background-position: 0 -57px !important;
    height: 23px !important;
    width: 26px !important;
}

.ui-messages-error-detail{
    text-shadow: none !important;
    font-weight: 100;
}

.ui-messages-error-summary{
    margin-left: 0 !important;
    text-shadow: none;
}

.ui-messages-warn{
    background-color: beige;
    color: orangered;
    opacity: 0.1em;
    border: 2px solid tomato;
}

.ui-messages-warn:hover{
    background: palegoldenrod;
    border: 2px solid ;
    box-shadow: 0 1px 10px gold !important;
    color: midnightblue;
}

.ui-messages-warn-icon{
    background: url(/Design/images/warn.png?In-Resources);
    margin: 2px;
    background-position: 0 -63px !important;
    height: 21px !important;
    width: 24px !important;
}

.ui-messages-warn-detail{
    text-shadow: none !important;
    font-weight: 100;
}

.ui-messages-warn-summary{
    margin-left: 3px !important;
    text-shadow: none;
}