<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"></link>
        <link href="Resources/botones.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/Resources/messages.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <h:form>
            <!--<a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>-->
            <p:messages id="msg" showDetail="true"/>

            <h:commandLink value="Upload" action="#{diseño.buttonAction()}" >
                <p:ajax update="msg"/>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-upload"></i>
            </h:commandLink>
        </h:form>
    </h:body>
</html>

