<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <link href="#{request.contextPath}/Resources/Login2.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </h:head>
    <h:body>
        <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>¿Posees Cuenta?</h2>
			<p>Inicia Sesion</p>
			<label id="label-register" for="log-reg-show">Inicio de Sesion</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked"></input>
		</div>
							
		<div class="register-info-box">
			<h2>¿No Posees Cuenta?</h2>
			<p>Registrate Ahora Misno</p>
			<label id="label-login" for="log-login-show">Registro</label>
			<input type="radio" name="active-log-panel" id="log-login-show"></input>
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>INICIO DE SESION</h2>
				<input type="text" placeholder="Corre"></input>
				<input type="password" placeholder="Contraseña"></input>
				<input type="button" value="Iniciar"></input>
				<a href="">Forgot password?</a>
			</div>
			<div class="register-show">
				<h2>REGISTER</h2>
                                <input type="text" placeholder="Correo"></input>
				<input type="password" placeholder="Contraseña"></input>
				<input type="password" placeholder="Confirmar Contraseña"></input>
				<input type="button" value="Registrar"></input>
			</div>
		</div>
	</div>

        <script>
            $(document).ready(function () {
                $('.login-info-box').fadeOut();
                $('.login-show').addClass('show-log-panel');
            });

            $('.login-reg-panel input[type="radio"]').on('change', function () {
                if ($('#log-login-show').is(':checked')) {
                    $('.register-info-box').fadeOut();
                    $('.login-info-box').fadeIn();
                    $('.white-panel').addClass('right-log');
                    $('.register-show').addClass('show-log-panel');
                    $('.login-show').removeClass('show-log-panel');

                } else if ($('#log-reg-show').is(':checked')) {
                    $('.register-info-box').fadeIn();
                    $('.login-info-box').fadeOut();
                    $('.white-panel').removeClass('right-log');
                    $('.login-show').addClass('show-log-panel');
                    $('.register-show').removeClass('show-log-panel');
                }
            });





        </script>
    </h:body>
</html>

