<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Profiles Slider</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <link href="#{request.contextPath}/Resources/perfil1.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"></link>
        <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"></link>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    </h:head>
    <h:body>
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil1.jpg" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil2.png" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil3.jpg" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil4.jpg" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil5.jpg" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="description">
                                Texto Personalizado Por cada Autor, Persona o Creador de Contenido
                            </p>
                            <div class="testimonial-content">
                                <div class="pic">
                                    <img src="#{request.contextPath}/ResourcesImg/icono-perfil6.jpg" alt=""></img>

                                </div>
                                <h3 class="title">Williamson</h3>
                                <span class="post">Web Developer</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#testimonial-slider").owlCarousel({
                    items: 3,
                    itemsDesktop: [1000, 3],
                    itemsDestopSmall: [979, 2],
                    itemsTablet: [768, 2],
                    itemsMobile: [650, 1],
                    pagination: true,
                    autoPlay: true
                })
            });
        </script>
    </h:body>
</html>

