<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"></meta>
        <link href="#{request.contextPath}/Swiper/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="#{request.contextPath}/Resources/Perfil2.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil1.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil2.png"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil3.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil4.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil5.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil6.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil7.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil8.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil9.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="#{request.contextPath}/ResourcesImg/icono-perfil10.jpg"></img>
                    </div>
                    <div class="details">
                        <h3>John Doe<br></br>
                        <span>Web Designer</span>
                        </h3>
                    </div>
                </div>
                
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <script src="#{request.contextPath}/Swiper/swiper.min.js" type="text/javascript"></script>
        <script>
            var swiper = new Swiper('.swiper-container', {
                effect: 'coverflow',
                grabCursor: true,
                centeredSlides: true,
                slidesPerView: 'auto',
                coverflowEffect: {
                    rotate: 40,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: true,
                    
                },
                pagination: {
                    el: '.swiper-pagination',
                },
            });
        </script>

    </h:body>
</html>

